body {
  background-color: #101D42;
}

.title {
  text-align: center;
  color: white;
  font-family: 'Playfair Display SC', serif;
}

.screen {
  text-align: center;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  height: 40px;
}

/*Seat Styling*/
.rowCenter {
  text-align: center;
}

.seat{
    width:10em;
    height: 10em;
    background-color:#2A3238;
    margin-top:5%;
    display:inline-block;
    text-align:center;
    border-radius: 10%;
    border: double;
    color: white;
    font-family: 'Questrial', sans-serif;
}

.available{
  background-color:#3993DD;
  border-color:#2A3238;
}

.seatHover {
  background-color:#E1FAF9;
  border-color:#2A3238;
  color: black;
}

.taken{
    color:#FFFFFF;
    background-color:#black;
    border-color: #FF6633;
}

/*Modal*/
.modalBtns {
  padding: 10px;
}

.form {
  text-align: center;
}
